@model LoginModel

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Login</h2>
            <div class="text-center mb-5 text-dark"></div>
            <div class="card my-5">
                <!-- Display Validation Summary -->
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(true, "Please fix the following errors:")
                    </div>
                }

                <form class="card-body cardbody-color p-lg-5" asp-controller="Account" asp-action="Login" method="post">

                    <div class="text-center">
                        <img src="" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                             width="200px" alt="profile">
                    </div>

                    <!-- Username input field -->
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Username" placeholder="User Name" asp-for="Username">
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>

                    <!-- Password input field -->
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Password" asp-for="Password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <!-- Submit button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button>
                    </div>

                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                        Not Registered? <a href="@Url.Action("Register", "Account")" class="text-blue fw-bold">Create an Account</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>